body { margin: 0; }
section { display: none; }
section.current { display: block; }
header { padding: 2em 0 2em 0; text-align: center; }
header:after { clear: both; }
article { border-top: 1px solid #000; border-bottom: 1px solid #000; min-height: 10em; }
footer { clear: both; }
button.fatboy { padding: 1em; font-weight: bold; min-width: 8em; }
select { padding: 0.75em; }

.color1 { background-color: #820849; }
.color2 { background-color: #445E5D; }
.color3 { background-color: #FFB414; }
.color4 { background-color: #E8840E; }
.color5 { background-color: #C9490B; }

.nextScreen { position: absolute; top: 0; right: 0; margin-top: 3em; }
.prevScreen { position: absolute; top: 0; left: 0; margin-top: 3em; }
.heading { font-weight: bolder; border-bottom: 1px solid #000; }
.selected { background-color: #ffb414 !important; border: 2px solid #820849; }
.story { border-bottom: 1px dashed #ccc; }
.task { border-bottom: 1px solid #ccc; }
.sprint { clear: both; margin-bottom: 1em; }
.sprint .story { float: left; width: 20%; border: none; }
.sprint .heading { margin-left: 20.5%; }
.sprint .task {  margin-left: 20.5%; }
.completed div { color: #ccc; text-decoration: line-through; }
.prod-col-1 { width: 80%; display: inline-block; text-align: left; padding: 0.35em; border-right: 1px solid #ccc; }
.prod-col-2 { float: right; width: 15%; display: inline-block; text-align: center; padding: 0.35em; }
.sprint-col-1 { width: 60%; display: inline-block; text-align: left; padding: 0.35em; }
.sprint-col-2 { /*float: right;*/ width: 15%; display: inline-block; text-align: center; padding: 0.35em; border-left: 1px solid #ccc; border-right: 1px solid #ccc; }
.sprint-col-3 { /*float: right;*/ width: 15%; display: inline-block; text-align: center; padding: 0.35em; }